<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MY APP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Simple CRUD Nodejs App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav float-right">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#"> CRUD</a>
        </div>
    </div>
</nav>
<div class="container">
    <h4 class="display-4">
        My Unique thought on WAAW fellows, Cohort 4
    </h4>
    <br>
    <div class="row">
        <div class="col">
            <form action="/quotes" method="POST">
                <div class="form-group">
                    <input type="text" placeholder="name" name="name" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="description" name="quote" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col">
            <ul class="quotes list-group">
                <% for(var i=0; i<quotes.length; i++) {%>
                <li class="quote list-group-item">
                    <span><strong><%= quotes[i].name %></span></strong> <b>:</b>
      <span><em><%= quotes[i].quote %></em></span>
    </li>
  <% } %>
  </ul>
        </div>
    </div>

</div>



</body>
</html>
